<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                {% for page in site.pages %}
                  <li>
                    {% if page.title %}
                      <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    {% endif %}
                  </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>

<header class="intro-header" style="background-image: url('{{ page.imgurl | prepend: site.baseurl }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ page.title }}</h1>
                    <span class="subheading">{{ page.subtitle }}</span>
                    <hr class="small">
                    <span class="subheading">Posted by <i>{% if page.author %} {{ page.author }}{% endif %}{% if page.meta %} {{ page.meta }}{% endif %}</i> on {{page.date | date: "%b %-d, %Y"}}</span>
                </div>
            </div>
        </div>
    </div>
</header>